nav {
    background-color: rgb(29, 29, 29);
}

#logo {
    height: 4rem;
}

h5 {
    margin-top: 0px;
}

.major-head {
    src: url("../fonts/Gilroy-Bold.ttf");
    font-family: "Gilroy-Bold";
}

.row {
    margin-bottom: 0;
}


.currency-acronym {
    font-size: 14px;
}

/* ------------ */
/* Tab styling */
.tabs {
    width:100%;
}

.tabs .tab a {
    color: #943aad;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #943aad;
    background-color: #dacfddc4;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    color: #943aad;
    background-color: #dacfddc4;
}

.tabs .indicator {
    background-color: #943aad;
}

#tabs-div, #tabs-div nav {
    height: 40px;
} 

#tabs-nav ul {
    height: 100%;
}
/* ------------ */


/* ------------ */
/* Tab-specific styling */
#coins-view {
    padding-top: 10px;
}

#wallet-view h3 {
    margin-top: 12px;
}

#wallet-view tbody {
    height: 30vh;
}

#wallet-view-row {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

#funds-display-row {
    border-radius: 10px;
    height: 40px;
    min-width: 300px;
}

#funds-display-row h5 {
    font-weight: bold;
    font-size: 15px;
}
/* ------------ */


/* ------------ */
/* Chart area styling */
#border-chart {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#chart-div {
    margin-top: 10px;
    padding-top: 40px;
    margin-left: 5px;
    min-width: 480px;
}

#coin-chart-header-row {
    margin-bottom: 2px;
}

#buy-sell-watch-group {
    margin-bottom: 15px;
}

.canvas {
    min-height: 325px;
    min-width: 325;
}

.sell-btn {
    background-color: red;
}

.news-entry {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: rgb(117, 117, 117);
}

.news-entry p {
    padding-right: 10px;
}

#news-container {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
}

#news-container col {
    display: inline-block;
}


#news-container a:link {
    color: #943aad;
}

#news-row-header {
    border-bottom: solid;
    border-bottom-width: 2px;
}

#news-row {
    max-height: 300px;
    overflow: scroll;
}

/* .btn-large {
    width: 200px;
} */

/* #watch-btn {
    width: 100px;
} */
/* ------------ */


/* ------------ */
/* Table styling */
table {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 300px;
}

tbody {
    display: block;
    height: 70vh;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width:100%;
    table-layout: fixed;
}

/* Control the height of table rows */
td, th {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Appearance of selected table rows */
tr.active {
    border: solid;
    border-color: #943aad;
    border-width: 3px;
    background-color: #dacfddc4;
}

/* Color for when the value in the +/- column is negative */
.loss {
    background-color: rgba(192, 8, 8, 0.5);
}

/* Color for when the value in the +/- column is positive */
.gain {
    background-color: rgba(18, 155, 18, 0.5);
}

.table-empty-msg {
    color: rgba(175, 175, 175, 0.808);
    height: 100%;
}
/* ------------ */


/* ------------ */
/* Modal form styling */
.modal-content h4 {
    font-size: 30px;
}

#buysell-form .row h4 {
    display: flex;
    justify-content: space-between;
}

.modal-form-row {
    width: 80%;
}

#purchase-sell-btn {
    width: 100%;
}

#cancel-transaction-btn {
    width: 90%;
    background-color: red;
}

.validation-alert {
    display: none;
    padding: 3px 8px;
    background-color: rgba(255, 100, 100, 0.6);
    border-radius: 2px;
    margin-top: 10px;
    color: rgba(48, 48, 48, 0.6);
}

#quantity-input-column {
    margin-left: 0;
}
/* ------------ */


/* ------------ */
/* Footer styling */
.page-footer {
    background-color: rgb(29, 29, 29);
    color: #00bcd4;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0%;
    height: 40px;
}

#footer-logo {
    height: 1.5rem;
    margin-right: 1rem;
}

#footer-graphic {
    position: absolute;
}

#footer-credits {
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    top: 25%;
}
/* ------------ */

@media only screen and (max-width: 1200px) {
    #buy-sell-watch-group {
        align-items: center;
    }
    .btn-large {
        width: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .modal-form-row {
        width: 90%;
    }

    #chart-div {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    #border-chart {
        width: 95%;
    }

    #footer-credits {
        font-size: 8pt;
    }

    .modal .modal-content {
        padding-left: 10px;
        padding-right: 10px
    }

    .modal .col {
        padding: 0;
    }

    .modal-content h2 {
        font-size: 24px;
    }

    .modal-content h4 {
        font-size: 16px;
    }

    #cancel-transaction-btn, #purchase-sell-btn {
        width: 100%;
        margin-top: 10px;
    }

    #funds-display-row h5 {
        font-size: 12px;
    }

}