nav {
    background-color: rgb(39, 70, 39);
}

tbody {
    display: block;
    height: 70vh;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width:100%;
    table-layout: fixed;
}

thead {
    width: calc(100% - 1em)
}

table {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.tabs .tab a {
    color:rgb(39, 70, 39);
}

.btn-large {
    width: 200px;
}

.buy-btn {
    background-color: green;
}

.sell-btn {
    width: 80px;
    background-color: red;
}

.watch-btn {
    width: 80px;
    color: black;
    background-color: yellow;
}

.modal-form-fields {
    display: flex;
    justify-content: space-between;
}

/* Highlight color for selected table row */
tr.active {
    background-color: indianred;
}

.currency-acronym {
    font-size: 12pt;
}

.validation-alert {
    display: none;
    padding: 3px 8px;
    background-color: rgba(255, 100, 100, 0.6);
    border-radius: 2px;
    color: rgba(48, 48, 48, 0.6);
}

#chart-div {
    margin-top: 10px;
}

#purchase-btn {
    width: 100%;
}

#cancel-purchase-btn {
    width: 90%;
    background-color: red;
}

#quantity-input-column, .validation-alert-column {
    margin-left: 0;
}